<!-- <app-header 
(recipesClicked)="onNavigateRecipes($event)" 
(shoppingListClicked)="onNavigateList($event)"
></app-header> -->
<app-header></app-header>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <app-recipes *ngIf="view==='recipe'" ></app-recipes>
             <app-shopping-list *ngIf="view !=='recipe'" ></app-shopping-list> -->
             <!-- Here angular renders the routes component -->
             <router-outlet></router-outlet>
        </div>
    </div>
</div>